# Node modules
node_modules/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
*.swp
*.bak

# Tailwind generated cache
.tailwind/

# Parcel cache (if used)
.cache/

# Output of npm pack
*.tgz

# MacOS airdrop metadata
._*
